* {
    -fx-primary: Grey;
    -fx-primary-text: Black;
    -fx-primary-background: WhiteSmoke;
}
.root {
    -fx-background-color: -fx-primary-background;
}

#messages-box {
    -fx-background-color: -fx-primary-background;
}

#top-box {
    -fx-background-color: derive(-fx-primary-background, -5.0%);
    -fx-background-insets: 0 0 -1 0;
}

#bottom-box {
    -fx-background-color: derive(-fx-primary-background, -5.0%);
    -fx-background-insets: -1 0 0 0;
}

#messages-pane {
    -fx-border-color: derive(-fx-primary-background, -5.0%);
}

#groups-pane {
    -fx-background-color: derive(-fx-primary-background, -5.0%);
}

#groups-box {
    -fx-background-color: derive(-fx-primary-background, -5.0%);
}

#title-bar {
    -fx-background-color: derive(-fx-primary-background, -5.0%);
    -fx-font-size: 12;
}

#top-title {
    -fx-font-family: "Lucida Console";
    -fx-font-size: 15;
    -fx-border-width: 7 0 7 0;
}

#close-button {
    -fx-text-fill: -fx-primary-text;
    -fx-background-color: Transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0;
    -fx-border-width: 0;
    -fx-border-color: Transparent;
}

#close-button:hover {
    -fx-background-color: derived(Red, 20.0%);
}

#close-button:pressed {
    -fx-background-color: derived(Red, 50.0%);
}

#minimize-button {
    -fx-text-fill: -fx-primary-text;
    -fx-background-color: Transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0;
    -fx-border-width: 0;
    -fx-border-color: Transparent;
}

#minimize-button:hover {
    -fx-background-color: derive(-fx-primary-background, -15.0%);
}

#minimize-button:pressed {
    -fx-background-color: derive(-fx-primary-background, -20.0%);
}

#logout-button {
    -fx-text-fill: -fx-primary-text;
    -fx-background-color: Transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0;
    -fx-border-width: 0;
    -fx-border-color: Transparent;
}

#logout-button:hover {
    -fx-background-color: derive(-fx-primary-background, -15.0%);
}

#logout-button:pressed {
    -fx-background-color: derive(-fx-primary-background, -20.0%);
}

#change-style-button {
    -fx-text-fill: -fx-primary-text;
    -fx-background-color: Transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0;
    -fx-border-width: 0;
    -fx-border-color: Transparent;
}

#change-style-button:hover {
    -fx-background-color: derive(-fx-primary-background, -15.0%);
}

#change-style-button:pressed {
    -fx-background-color: derive(-fx-primary-background, -20.0%);
}

.box {
    -fx-background-color: -fx-primary-background;
    -fx-border-width: 0;
}
.border-pane {
    -fx-border-color: -fx-primary-background;
    -fx-background-color: -fx-primary-background;
}

.label {
    -fx-font-size: 13;
    -fx-border-color: Transparent;
}

.my-message {
    -fx-text-fill: -fx-primary-text;
    -fx-background-radius: 7 3 3 7;
    -fx-background-color: derived(-fx-primary, 80%);
    -fx-border-insets: 3 6 3 6;
}

.your-message {
    -fx-text-fill: derived(-fx-primary-background, 100%);
    -fx-background-radius: 3 7 7 3;
    -fx-background-color: derived(-fx-primary, -10%);
    -fx-border-insets: 3 6 3 6;
}

.message-time {
    -fx-font-size: 11;
}

.message-sender {
    -fx-text-fill: -fx-primary-text;
    -fx-background-radius: 3 3 3 3;
    -fx-background-color: derived(-fx-primary, 80%);
    -fx-border-insets: 2 4 2 4;
}

.message-box {
    -fx-background-color: -fx-primary-background;
    -fx-border-width: 0;
    -fx-spacing: 0;
}

.button {
    -fx-background-color: derived(-fx-primary-background, 100%);
    -fx-background-radius: 5;
    -fx-text-fill: -fx-primary-text;
    -fx-border-width: 2;
    -fx-border-color: derived(-fx-primary, 40%);
    -fx-border-radius: 5;
    -fx-background-insets: 2 0 2 0;
}

.button:hover {
    -fx-background-color: derived(-fx-primary, 20%);
    -fx-text-fill: derived(-fx-primary-background, 100%);
    -fx-border-color: derived(-fx-primary, 20%);
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: derived(-fx-primary, 0%);
    -fx-border-color: derived(-fx-primary, 0%);
    -fx-text-fill: derived(-fx-primary-background, 100%);
}

.text-field {
    -fx-text-fill: -fx-primary-text;
    -fx-background-color: derived(-fx-primary-background, 100%);
    -fx-background-radius: 5;
    -fx-border-width: 2;
    -fx-border-color: derived(-fx-primary, 40%);
    -fx-border-radius: 5;
    -fx-highlight-fill: derived(-fx-primary, 20%);
}

.text-field:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.scroll-pane {
    -fx-background-color: -fx-primary-background;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: -fx-primary-background;
    -fx-border-width: 0;
    -fx-background-insets: 2;
    -fx-font-size: 1;
}

.scroll-bar .track {
    -fx-background-color: derive(-fx-primary-background, -5.0%);
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.0;
}


.scroll-bar .thumb {
    -fx-background-color :derive(-fx-primary,0%);
    -fx-background-radius: 0;
}

.scroll-bar .thumb:hover {
    -fx-background-color :derive(-fx-primary,20%);
}

.scroll-bar .thumb:pressed {
    -fx-background-color :derive(-fx-primary,40%);
}

.group-button {
    -fx-text-fill: -fx-primary-text;
    -fx-font-size: 13;
    -fx-background-color: derive(-fx-primary-background, -20.0%);
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0;
    -fx-border-width: 10;
    -fx-border-color: Transparent;
}

.group-button:hover {
    -fx-background-color: derived(-fx-primary, 40%);
    -fx-border-color: derived(-fx-primary, 40%);
    -fx-text-fill: -fx-primary-text;
    -fx-cursor: hand;
}

.group-button:pressed {
    -fx-background-color: derived(-fx-primary, 0%);
    -fx-border-color: derived(-fx-primary, 0%);
    -fx-text-fill: derived(-fx-primary-background, 100%);
}

.selected-group-button {
    -fx-background-color: derived(-fx-primary, 0%);
    -fx-border-color: derived(-fx-primary, 0%);
    -fx-text-fill: derived(-fx-primary-background, 100%);
}

.selected-group-button:hover {
    -fx-background-color: derived(-fx-primary, 0%);
    -fx-border-color: derived(-fx-primary, 0%);
    -fx-text-fill: derived(-fx-primary-background, 100%);
    -fx-cursor: default;
}

.group-member {
    -fx-text-fill: -fx-primary-text;
    -fx-font-size: 13;
    -fx-background-color: derive(-fx-primary-background, -10.0%);
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0;
    -fx-border-color: Transparent;
}

.sticker-button {
    -fx-background-color: Transparent;
    -fx-border-color: Transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}