* {
    -fx-primary: Grey;
    -fx-primary-text: Black;
    -fx-primary-background: WhiteSmoke;
}
.root {
    -fx-background-color: -fx-primary-background;
}

#messages-box {
    -fx-background-color: -fx-primary-background;
}

#top-box {
    -fx-background-color: derive(-fx-primary-background, -5.0%);
    -fx-background-insets: 0 0 -1 0;
}

#bottom-box {
    -fx-background-color: derive(-fx-primary-background, -5.0%);
    -fx-background-insets: -1 0 0 0;
}

#messages-pane {
    -fx-border-color: derive(-fx-primary-background, -5.0%);
}

.box {
    -fx-background-color: -fx-primary-background;
    -fx-border-width: 0;
}
.border-pane {
    -fx-border-color: -fx-primary-background;
    -fx-background-color: -fx-primary-background;
}

.label {
    -fx-font-size: 13;
    -fx-border-color: Transparent;
}

.my-message {
    -fx-text-fill: -fx-primary-text;
    -fx-background-radius: 10 3 3 10;
    -fx-background-color: derived(-fx-primary, 80%);
    -fx-border-insets: 3 5 3 5;
}

.your-message {
    -fx-text-fill: derived(-fx-primary-background, 100%);
    -fx-background-radius: 3 10 10 3;
    -fx-background-color: derived(-fx-primary, -10%);
    -fx-border-insets: 3 5 3 5;
}

.button {
    -fx-background-color: derived(-fx-primary-background, 100%);
    -fx-background-radius: 5;
    -fx-text-fill: -fx-primary-text;
    -fx-border-width: 2;
    -fx-border-color: derived(-fx-primary, 40%);
    -fx-border-radius: 5;
    -fx-background-insets: 2 0 2 0;
}

.button:hover {
    -fx-background-color: derived(-fx-primary, 20%);
    -fx-text-fill: derived(-fx-primary-background, 100%);
    -fx-border-color: derived(-fx-primary, 20%);
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: derived(-fx-primary, 0%);
    -fx-border-color: derived(-fx-primary, 0%);
}

.text-field {
    -fx-text-fill: -fx-primary-text;
    -fx-background-color: derived(-fx-primary-background, 100%);
    -fx-background-radius: 5;
    -fx-border-width: 2;
    -fx-border-color: derived(-fx-primary, 40%);
    -fx-border-radius: 5;
    -fx-highlight-fill: derived(-fx-primary, 20%);
}

.text-field:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.scroll-pane {
    -fx-background-color: -fx-primary-background;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: -fx-primary-background;
    -fx-border-width: 0;
    -fx-background-insets: 2;
}

.scroll-bar .track {
    -fx-background-color: derive(-fx-primary-background, -5.0%);
    -fx-border-color: transparent;
    -fx-background-radius: 0.0;
    -fx-border-radius: 2.0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}


.scroll-bar .thumb {
    -fx-background-color :derive(-fx-primary,0%);
    -fx-background-radius: 0;
}

.scroll-bar .thumb:hover {
    -fx-background-color :derive(-fx-primary,20%);
}

.scroll-bar .thumb:pressed {
    -fx-background-color :derive(-fx-primary,40%);
}
