.button {
    -fx-background-color: White;
    -fx-background-radius: 20;
    -fx-text-fill: Black;
    -fx-border-width: 2px;
    -fx-border-color: LightSkyBlue;
    -fx-border-radius: 20;
}
.button:hover {
    -fx-background-color: DarkGrey;
    -fx-background-radius: 20;
    -fx-text-fill: White;
    -fx-border-width: 2px;
    -fx-border-color: DarkGrey;
    -fx-border-radius: 20;
}
.button:pressed {
    -fx-background-color: DarkGrey;
    -fx-background-radius: 20;
    -fx-text-fill: White;
    -fx-border-width: 2px;
    -fx-border-color: Grey;
    -fx-border-radius: 20;
}
.text-field {
    -fx-text-fill: Black;
    -fx-background-color: White;
    -fx-background-radius: 20;
    -fx-border-width: 2px;
    -fx-border-color: LightSkyBlue;
    -fx-border-radius: 20;
    -fx-highlight-fill: Grey;
}