* {
    -fx-primary: Grey;
    -fx-primary-text: Black;
    -fx-primary-background: WhiteSmoke;
}
.root {
    -fx-background-color: -fx-primary-background;
}
.button {
    -fx-background-color: derived(-fx-primary-background, 100%);
    -fx-background-radius: 5;
    -fx-text-fill: -fx-primary-text;
    -fx-border-width: 2;
    -fx-border-color: derived(-fx-primary, 40%);
    -fx-border-radius: 5;
    -fx-background-insets: 2 0 2 0;
}
.button:hover {
    -fx-background-color: derived(-fx-primary, 20%);
    -fx-text-fill: derived(-fx-primary-background, 100%);
    -fx-border-color: derived(-fx-primary, 20%);
    -fx-cursor: hand;
}
.button:pressed {
    -fx-background-color: derived(-fx-primary, 0%);
    -fx-border-color: derived(-fx-primary, 0%);
    -fx-text-fill: derived(-fx-primary-background, 100%);
}
.text-field {
    -fx-text-fill: -fx-primary-text;
    -fx-background-color: derived(-fx-primary-background, 100%);
    -fx-background-radius: 5;
    -fx-border-width: 2;
    -fx-border-color: derived(-fx-primary, 40%);
    -fx-border-radius: 5;
    -fx-highlight-fill: derived(-fx-primary, 20%);
}
.text-field:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}
.label {
    -fx-font-family: "Lucida Console";
}

#title {
    -fx-font-size: 30;
}
#close-button {
    -fx-text-fill: -fx-primary-text;
    -fx-background-color: Transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0;
    -fx-border-width: 0;
    -fx-border-color: Transparent;
}
#close-button:hover {
    -fx-background-color: derived(Red, 20.0%);
}
#close-button:pressed {
    -fx-background-color: derived(Red, 50.0%);
}
#minimize-button {
    -fx-text-fill: -fx-primary-text;
    -fx-background-color: Transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0;
    -fx-border-width: 0;
    -fx-border-color: Transparent;
}
#minimize-button:hover {
    -fx-background-color: derive(-fx-primary-background, -15.0%);
}
#minimize-button:pressed {
    -fx-background-color: derive(-fx-primary-background, -20.0%);
}
#register-button {
    -fx-text-fill: -fx-primary-text;
    -fx-background-color: Transparent;
    -fx-background-radius: 0;
    -fx-background-insets: -2 0 -2 0;
    -fx-border-width: 0;
    -fx-border-color: derived(-fx-primary, 40%);
    -fx-border-radius: 0;
    -fx-font-family: "Lucida Console";
}
#register-button:hover {
    -fx-background-color: derive(-fx-primary-background, -15.0%);
}
#register-button:pressed {
    -fx-background-color: derive(-fx-primary-background, -20.0%);
}

#title-create-conversation {
    -fx-font-size: 20;
}

#group-creation-pane {
    -fx-primary-background: derived(WhiteSmoke, -5%);
}

#group-modification-pane {
    -fx-primary-background: derived(WhiteSmoke, -5%);
}

#title-modify-conversation {
    -fx-font-size: 20;
}